* {
    color: white;
}
body {
    background-color: #4d4d4d;
    margin: 2rem 12%;
}

h1 {
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h2 {
    color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bolder;
}

p {
    color: lightgrey;
}

form {
    line-height: 2rem;
}

button {
    color: lightgrey;
    background-color: #4d4d4d;
    text-decoration: none;
    padding: 1rem;
    margin-top: 1rem;
    border: 3px solid lightgrey;
    border-radius: 2px;
    transition-duration: 0.5s;
}

button:hover {
    color: #4d4d4d;
    background-color: lightgrey;
    cursor:pointer;
}